/*
UI 顏色與風格 
使用柔和的背景色（淺灰、米白）讓任務清楚顯示 
使用綠色或藍色表示已完成、紅色表示重要任務 
加入動畫過渡（例如任務完成時淡出）
*/


:root{
  --theme-color:rgb(250, 228, 179);
  --border-color:#CA7A2C;
  --text-color: #dea46a;
}
*{
  

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 主題切換CSS
body.light{
  color: black;
  background-color: var(--theme-color);
}
body.dark {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
// 主題按鈕
.theme-change{
  border: 1px rgba(0,0,0,0.6) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black, inset 2px 2px 2px rgba(255,255,255,.3);
  background-color: transparent;
  padding: 0.5rem;
  position: absolute;
  font-weight: bold;
  right: 0;
  margin: 1rem;
  z-index: 10;
  transition: all 0.3s ease;
  &:hover{
    transform: translate(-2px,-2px);

  }
  &:active{
    box-shadow: inset 2px 2px 2px black;
  }
}
.btn-dark{
  color: white;
  background-color:transparent;
}

.themeInput{
  background-color: rgba(0, 0, 0, .5);
  color: white;
}
.themeAddBtn {
  background-color: rgba(0, 0, 0, .8) !important;
  color: white;
}
.themeDateInput{
  background-color: rgba(255,255,255,.1) !important;
  color: white;

}

// 上方為區換主題

body{
  transition: all 1s ease;
  background-color: var(--theme-color);
  .header-area{
    position:relative ;
    height: 100vh;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    overflow-y: overlay;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  .bg-img{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    top: 0;
    left: 0;
    filter: blur(1px);
    opacity: 0.3;
    position: fixed;
    z-index: -1;
  }
  .todolist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    fieldset{
      margin: auto;
      box-sizing: content-box;
      width: 300px;
      padding: 1rem;

    }
    legend{
      text-align: center;
      font-size: 2rem;
      padding: 0 3rem 0 3rem;
      font-weight: 600;


    }
    .input-area{
      width: 300px;
      display: flex;
      align-items: center;
      border:  gray 1px solid;
      border-radius: 5px;
      box-shadow: 2px 2px 1px black;
      overflow: hidden;
      
      input,button {
          border: none;
          height: 1.5rem;
          transition: 1s all ease;
      }
      input{
        width: 80%;
        text-indent: 10px;
       
      }
      button{
        border-style:none;
        width: 20%;
        padding: 5px;
        background-color:var(--theme-color);
      }
      
    }
    .list-body{

      width: 100%;;
      .list-area{
          padding:0.5rem 0 1rem 0 ;
          display: grid;
          grid-template-columns: repeat(3 ,1fr);
          gap: 0.5rem;
          width: 100%;
          overflow-y: overlay;
          scrollbar-width: none;
          scroll-behavior: smooth;
          
          
          li {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            border: 1px rgba(0, 0, 0, .2) solid;
            border-radius: 5px;
            box-shadow: 5px 5px 3px rgba(0,0,0,.3);
            height: 100px;
            width: 100%;
            max-width: 350px;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: start;
            justify-content: flex-start;
            
            position: relative;
            
            .li-bg {
              position: absolute;
              z-index: -2;
              width: 100%;
              height: 100%;
              
              background-color: rgba(255,255,255,.1);
              filter: blur(10px);
            }
            .li-sapce {
              font-size: 1rem;
              width: 100%;
              padding-top: 0.7rem;
              list-style: none;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              // gap: 5px;
              align-items: start;
              justify-content: flex-start;
              
            }
            .deadLine {
              width: 100%;
              position: relative;
              padding-left: 0.5rem;
              background-color: transparent;
              display: block;
              label{
                padding-right: 0.5rem;
              }
              input{
                transition: all 1s ease;
                background-color: transparent;
                border: none;
                border-radius: 5px;
                padding: 0 0.4rem 0 0.2rem;
              }
              button {
                position: absolute;
                bottom: -0.2rem;
                right: 0.5rem;
                background-color: transparent;
                margin-left: auto;
                border: none;

                img {
                  width: 1rem;
                  object-fit: cover;
                  cursor: pointer;
                }
              }
            }
      
            // for Checked
            .strikethrough {
              text-decoration: line-through;
              color: gray;
              transition: all 0.3 ease;
            }
      
            .date-text {
              font-size: 0.75rem;
              
            }
            .todo-thing {
              padding-left: 0.5rem;
              display: flex;
              align-items: center;
              justify-items: center;
              font-size: 1.2rem;
              margin-bottom: 2px;
              
            }
            p {
              font-weight: bold;
              padding-left: 0.5rem;
      
            }
      
            .no-awesome {
              display: none;
            }
      
            .awesome {
              font-size: 0.8rem;
              display: block;
              transition: all 1s ease-in-out;
              text-shadow: 2px 2px 2px rgb(95, 95, 95);
              animation: awesome 1s forwards;
            }
      
            // checked 小動畫
            @keyframes awesome {
              0% {
                opacity: 0;
      
      
              }
      
              50% {
                opacity: 1;
                transform: translateY(-10px) scale(3) rotate(15deg);
              }
      
              100% {
                opacity: 1;
      
              }
            }
      
            
      
            hr {
              width: 100%;
      
            }
          }
        }
    }
    
  }
  


  .timer-area{
    padding-top: 2rem ;
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 1rem;
    button{
      background-color: transparent;
      padding: 3px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      &:hover{
        box-shadow: 2px 2px 2px var(--border-color);
        text-shadow: -1px -1px 5px white;
      }
    }
  }
  
}
@media (max-width : 950px) {
  body{
    height: 100vh;
    
    
  }
  .list-header{
    margin: auto;
    display: block;

    
  }


  .list-area {
   
    display: flex !important;
    flex-direction:column;
    gap: 10px;
    width: 100vw;
    align-items: center;
    overflow-y: overlay;
    scrollbar-width: none;
    scroll-behavior: smooth;
    li{
      
      max-width: 80vw !important;
    }
    
  }
}
